<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZEBEasyMacro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E0727F1CE321A100E91A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E072981CE321A100E91A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E072A31CE321A100E91A18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
